name: GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"   
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Lucas-Blanger
          template: classic
          base: ""
          config_timezone: America/Sao_Paulo

          config_theme: dark

          # Linguagens
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_colors: github
          plugin_languages_details: bytes-size, percentage
          plugin_languages_threshold: 0%
